*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
}
html{
    height: 500vh;
}

body{
    background-color: lightslategray;
    height: 500vh;

}

/*******************************************INICIAMOS ARMANDO LOS GIRD DEL DOBLE TOOLBAR*****************************************/
div .SocialNet{
    background-color: #091732;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat((1,1fr));
    height: 3vh;
}
.SocialNet .facebook{
    grid-column: 4/5;
    grid-row: 1;
    width: 18px;
    margin-left: 10%;
}
.SocialNet .instagram{
    grid-column: 4/5;
    grid-row: 1;
    width:18px;
    margin-left: 35%;
}
.SocialNet .flag{
    grid-column: 4/5;
    grid-row: 1;
    width: 24px;
    margin-left:60px;
    padding: 5% 0%;
}

/********************************************************************************************************************************/
div .Toolbar2-1{
    background-color: white; 
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,1fr);
    height: 8vh;
    font-size: .6em;
}
.Toolbar2-1 p{
    margin-top: 50%;
}
.Toolbar2-1 .LogoTipo img{
    width: 265%;
}
.Toolbar2-1 .LogoTipo{
    grid-column: 1/2;
    grid-row: 1;
}
.Toolbar2-1 .Text1{
    grid-column: 3/6;
    padding: 0% 5px;
    margin-left: 22%;
    margin-top: -3%;
}
.Toolbar2-1 .Text2{
    grid-column: 6/7;
    padding: 0% 5px;
}
.Toolbar2-1 .Text3{
    grid-column: 7/8;
    padding: 0% 5px;
    margin-top: 6%;
}
.Toolbar2-1 .Text4{
    grid-column: 8/9;
    padding: 0% 5px;
    margin-top: 55%;
    
    
}
.Toolbar2-1 button{
   font-size: 68%;
    
}


/*******************************************INICIAMOS ARMANDO LOS GIRD DEL DOBLE TOOLBAR*****************************************/
.Banner{
    width: 100%;
}