<!DOCTYPE html>
<html>
  <body>
    <div class="Toolbar">
        <div class="SocialNet">
            <img  class="facebook" src="./../../assets/Facebook Circled.png" alt="pagina de facebook"> 
            <img  class="instagram" src="./../../assets/Instagram.png" alt="pagina de instagram"> 
            <img  class="flag" src="./../../assets/banderita.png" alt="bandera de argentina">
        </div>
    </div>
    
        <div class="Toolbar2">        
            <div class="Toolbar2-1">
                <div class="LogoTipo"><img src="./../../assets/alpicImg.png" alt="logotipo de la ONG"></div>
                <div class="Text1"><p>QUIÉNES SOMOS</p></div>
                <div class="Text2"><P>PREGUNTAS FRECUENTES</P></div>
                <div class="Text3"><P>COLABORAR</P></div>
                <div class="Text4"><button>CONTACTANOS</button></div>
            </div>
        </div>
        <img src="./../../assets/alpicBanner.jpg" alt="banner del sitio" class="Banner">

        <article class="Quest1">
            <aside class="Apart1">
                <h3>¿QUÉ ES ALPIC?</h3>
                <div><p>Es la Asociación Civil de Lucha contra la Parálisis Infantil radicada en Cañada de Gómez,
                        provincia de Santa Fe.
                </p></div>
            </aside>
            <button class="Colaborate">QUIERO COLABORAR</button>
            <aside class="Apart2">
                <div>
                    <h4>TURNOS</h4>
                    <p>Nobrar las distintas actividades con turno</p>
                    <button>RESERVER</button>
                </div>
                <div>
                    <h4>PRÉSTAMOS</h4>
                    <P>Elementos ortopédicos y otros</P>
                    <button>SOLICITAR</button>
                </div>
            </aside>
        </article>
  </body>
</html>